*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background: rgba(0, 0, 0, 0.276) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1694409717/Luma%20Medspa/skin2_2_p4ox0s.png);
    background-size: cover;
    background-position: center;
}

@media (min-width: 1024px) and (max-height: 780px){
    .header-content{
        height: 75vh;
    }
}


